In [11]:
import numpy as np
import pandas as pd
import seaborn as sns

In [12]:
penguins = sns.load_dataset("penguins")
penguins

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

In [15]:
# Ejercicio 1
subconjunto = penguins[(penguins["island"] == "Biscoe") & (penguins["bill_length_mm"] >= 48)]
subconjunto

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
221,Gentoo,Biscoe,50.0,16.3,230.0,5700.0,Male
222,Gentoo,Biscoe,48.7,14.1,210.0,4450.0,Female
223,Gentoo,Biscoe,50.0,15.2,218.0,5700.0,Male
231,Gentoo,Biscoe,49.0,16.1,216.0,5550.0,Male
233,Gentoo,Biscoe,48.4,14.6,213.0,5850.0,Male
235,Gentoo,Biscoe,49.3,15.7,217.0,5850.0,Male
237,Gentoo,Biscoe,49.2,15.2,221.0,6300.0,Male
239,Gentoo,Biscoe,48.7,15.1,222.0,5350.0,Male
240,Gentoo,Biscoe,50.2,14.3,218.0,5700.0,Male
248,Gentoo,Biscoe,48.2,14.3,210.0,4600.0,Female
249,Gentoo,Biscoe,50.0,15.3,220.0,5550.0,Male
253,Gentoo,Biscoe,59.6,17.0,230.0,6050.0,Male
254,Gentoo,Biscoe,49.1,14.8,220.0,5150.0,Female
255,Gentoo,Biscoe,48.4,16.3,220.0,5400.0,Male
259,Gentoo,Biscoe,48.7,15.7,208.0,5350.0,Male
261,Gentoo,Biscoe,49.6,16.0,225.0,5700.0,Male
263,Gentoo,Biscoe,49.6,15.0,216.0,4750.0,Male
264,Gentoo,Biscoe,50.5,15.9,222.0,5550.0,Male
267,Gentoo,Biscoe,50.5,15.9,225.0,5400.0,Male
271,Gentoo,Biscoe,48.5,14.1,220.0,5300.0,Male
273,Gentoo,Biscoe,50.1,15.0,225.0,5000.0,Male
279,Gentoo,Biscoe,50.4,15.3,224.0,5550.0,Male
283,Gentoo,Biscoe,54.3,15.7,231.0,5650.0,Male
285,Gentoo,Biscoe,49.8,16.8,230.0,5700.0,Male
287,Gentoo,Biscoe,49.5,16.2,229.0,5800.0,Male
289,Gentoo,Biscoe,50.7,15.0,223.0,5550.0,Male
292,Gentoo,Biscoe,48.2,15.6,221.0,5100.0,Male
295,Gentoo,Biscoe,48.6,16.0,230.0,5800.0,Male
297,Gentoo,Biscoe,51.1,16.3,220.0,6000.0,Male
300,Gentoo,Biscoe,49.1,14.5,212.0,4625.0,Female
301,Gentoo,Biscoe,52.5,15.6,221.0,5450.0,Male
303,Gentoo,Biscoe,50.0,15.9,224.0,5350.0,Male
305,Gentoo,Biscoe,50.8,17.3,228.0,5600.0,Male
307,Gentoo,Biscoe,51.3,14.2,218.0,5300.0,Male
309,Gentoo,Biscoe,52.1,17.0,230.0,5550.0,Male
311,Gentoo,Biscoe,52.2,17.1,228.0,5400.0,Male
313,Gentoo,Biscoe,49.5,16.1,224.0,5650.0,Male
315,Gentoo,Biscoe,50.8,15.7,226.0,5200.0,Male
316,Gentoo,Biscoe,49.4,15.8,216.0,4925.0,Male
318,Gentoo,Biscoe,48.4,14.4,203.0,4625.0,Female
319,Gentoo,Biscoe,51.1,16.5,225.0,5250.0,Male
320,Gentoo,Biscoe,48.5,15.0,219.0,4850.0,Female
321,Gentoo,Biscoe,55.9,17.0,228.0,5600.0,Male
323,Gentoo,Biscoe,49.1,15.0,228.0,5500.0,Male
327,Gentoo,Biscoe,53.4,15.8,219.0,5500.0,Male
329,Gentoo,Biscoe,48.1,15.1,209.0,5500.0,Male
330,Gentoo,Biscoe,50.5,15.2,216.0,5000.0,Female
331,Gentoo,Biscoe,49.8,15.9,229.0,5950.0,Male
333,Gentoo,Biscoe,51.5,16.3,230.0,5500.0,Male
335,Gentoo,Biscoe,55.1,16.0,230.0,5850.0,Male
337,Gentoo,Biscoe,48.8,16.2,222.0,6000.0,Male
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

In [17]:
# Ejercicio 2
adelie_machos_no_biscoe = penguins[
    (penguins["species"] == 'Adelie') &
    (penguins['sex'] == 'Male') &
    (penguins['island'] != 'Biscoe')
]
adelie_machos_no_biscoe

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,Male
7,Adelie,Torgersen,39.2,19.6,195.0,4675.0,Male
13,Adelie,Torgersen,38.6,21.2,191.0,3800.0,Male
14,Adelie,Torgersen,34.6,21.1,198.0,4400.0,Male
17,Adelie,Torgersen,42.5,20.7,197.0,4500.0,Male
19,Adelie,Torgersen,46.0,21.5,194.0,4200.0,Male
31,Adelie,Dream,37.2,18.1,178.0,3900.0,Male
33,Adelie,Dream,40.9,18.9,184.0,3900.0,Male
35,Adelie,Dream,39.2,21.1,196.0,4150.0,Male
36,Adelie,Dream,38.8,20.0,190.0,3950.0,Male
39,Adelie,Dream,39.8,19.1,184.0,4650.0,Male
41,Adelie,Dream,40.8,18.4,195.0,3900.0,Male
43,Adelie,Dream,44.1,19.7,196.0,4400.0,Male
45,Adelie,Dream,39.6,18.8,190.0,4600.0,Male
46,Adelie,Dream,41.1,19.0,182.0,3425.0,Male
49,Adelie,Dream,42.3,21.2,191.0,4150.0,Male
69,Adelie,Torgersen,41.8,19.4,198.0,4450.0,Male
71,Adelie,Torgersen,39.7,18.4,190.0,3900.0,Male
73,Adelie,Torgersen,45.8,18.9,197.0,4150.0,Male
75,Adelie,Torgersen,42.8,18.5,195.0,4250.0,Male
77,Adelie,Torgersen,37.2,19.4,184.0,3900.0,Male
79,Adelie,Torgersen,42.1,19.1,195.0,4000.0,Male
81,Adelie,Torgersen,42.9,17.6,196.0,4700.0,Male
83,Adelie,Torgersen,35.1,19.4,193.0,4200.0,Male
85,Adelie,Dream,41.3,20.3,194.0,3550.0,Male
86,Adelie,Dream,36.3,19.5,190.0,3800.0,Male
88,Adelie,Dream,38.3,19.2,189.0,3950.0,Male
91,Adelie,Dream,41.1,18.1,205.0,4300.0,Male
93,Adelie,Dream,39.6,18.1,186.0,4450.0,Male
95,Adelie,Dream,40.8,18.9,208.0,4300.0,Male
97,Adelie,Dream,40.3,18.5,196.0,4350.0,Male
99,Adelie,Dream,43.2,18.5,192.0,4100.0,Male
117,Adelie,Torgersen,37.3,20.5,199.0,3775.0,Male
119,Adelie,Torgersen,41.1,18.6,189.0,3325.0,Male
121,Adelie,Torgersen,37.7,19.8,198.0,3500.0,Male
123,Adelie,Torgersen,41.4,18.5,202.0,3875.0,Male
125,Adelie,Torgersen,40.6,19.0,199.0,4000.0,Male
127,Adelie,Torgersen,41.5,18.3,195.0,4300.0,Male
129,Adelie,Torgersen,44.1,18.0,210.0,4000.0,Male
131,Adelie,Torgersen,43.1,19.2,197.0,3500.0,Male
133,Adelie,Dream,37.5,18.5,199.0,4475.0,Male
135,Adelie,Dream,41.1,17.5,190.0,3900.0,Male
137,Adelie,Dream,40.2,20.1,200.0,3975.0,Male
139,Adelie,Dream,39.7,17.9,193.0,4250.0,Male
141,Adelie,Dream,40.6,17.2,187.0,3475.0,Male
143,Adelie,Dream,40.7,17.0,190.0,3725.0,Male
145,Adelie,Dream,39.0,18.7,185.0,3650.0,Male
146,Adelie,Dream,39.2,18.6,190.0,4250.0,Male
149,Adelie,Dream,37.8,18.1,193.0,3750.0,Male
151,Adelie,Dream,41.5,18.5,201.0,4000.0,Male

In [19]:
# Ejercicio 3
penguins.columns
penguins.drop(columns = [col for col in ["year", "sex", "body_mass_g"] if col in penguins.columns])

    species     island  bill_length_mm  bill_depth_mm  flipper_length_mm
0    Adelie  Torgersen            39.1           18.7              181.0
1    Adelie  Torgersen            39.5           17.4              186.0
2    Adelie  Torgersen            40.3           18.0              195.0
3    Adelie  Torgersen             NaN            NaN                NaN
4    Adelie  Torgersen            36.7           19.3              193.0
..      ...        ...             ...            ...                ...
339  Gentoo     Biscoe             NaN            NaN                NaN
340  Gentoo     Biscoe            46.8           14.3              215.0
341  Gentoo     Biscoe            50.4           15.7              222.0
342  Gentoo     Biscoe            45.2           14.8              212.0
343  Gentoo     Biscoe            49.9           16.1              213.0

[344 rows x 5 columns]

In [21]:
# Ejercicio 4
# a)
penguins[penguins["island"] != "Biscoe"]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
...,...,...,...,...,...,...,...
215,Chinstrap,Dream,55.8,19.8,207.0,4000.0,Male
216,Chinstrap,Dream,43.5,18.1,202.0,3400.0,Female
217,Chinstrap,Dream,49.6,18.2,193.0,3775.0,Male
218,Chinstrap,Dream,50.8,19.0,210.0,4100.0,Male
219,Chinstrap,Dream,50.2,18.7,198.0,3775.0,Female

In [23]:
cols = penguins.columns
i, j = cols.get_loc('species'), cols.get_loc('body_mass_g')
subset = penguins.loc[:, cols[i:j+1]]
subset

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0
3,Adelie,Torgersen,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0
...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0

In [25]:
resultado = (
    penguins[penguins["island"] != "Biscoe"]
    .loc[:, lambda df : df.columns[df.columns.get_loc("species") : df.columns.get_loc("body_mass_g") + 1]]
    .rename(columns ={"species" : "especie_pinguino"})
    .groupby("especie_pinguino")
    .mean(numeric_only = True)
    .filter(like = "length")
    .add_suffix("_mean")
)
resultado

                  bill_length_mm_mean  flipper_length_mm_mean
especie_pinguino
Adelie                      38.715888              190.429907
Chinstrap                   48.833824              195.823529

In [27]:
# Ejercicio 5
(
    penguins.rename(columns={
        'species': 'especies',
        'flipper_length_mm': 'aleta_mm',
        'body_mass_g': 'peso_g'
    })
    .rename(index={0: 'cero'})
)

,especies,island,bill_length_mm,bill_depth_mm,aleta_mm,peso_g,sex
cero,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

In [29]:
penguins.rename(columns=str.upper)

,SPECIES,ISLAND,BILL_LENGTH_MM,BILL_DEPTH_MM,FLIPPER_LENGTH_MM,BODY_MASS_G,SEX
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

In [31]:
penguins.rename(index=np.sqrt)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0.000000,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1.000000,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
1.414214,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
1.732051,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
2.000000,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
...,...,...,...,...,...,...,...
18.411953,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
18.439089,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
18.466185,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
18.493242,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
18.520259,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

In [33]:
def suma_uno(x):
    return x + 1

penguins.rename(index=suma_uno)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
1,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
4,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
...,...,...,...,...,...,...,...
340,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
341,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
342,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
343,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
344,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

In [35]:
penguins.rename(index=lambda x: x * 2)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
4,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
6,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
8,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
...,...,...,...,...,...,...,...
678,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
680,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
682,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
684,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
686,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

In [37]:
penguins.rename(columns=lambda x: x.upper())

,SPECIES,ISLAND,BILL_LENGTH_MM,BILL_DEPTH_MM,FLIPPER_LENGTH_MM,BODY_MASS_G,SEX
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

In [39]:
# Ejercicio 6
df = pd.read_csv(r"C:\Users\Usuario\Downloads\macro_full_columns.csv")
df

,Unnamed: 0,Anio,FBKF.Construcciones.Priv_Publ,FBKF.Equi_Dur_Prod.Mat_Transp.Nac,FBKF.Equi_Dur_Prod.Mat_Transp.Import,FBKF.Equi_Dur_Prod.Maqui_YEqui.Nac,FBKF.Equi_Dur_Prod.Maqui_YEqui.Import,Consumo.Hogares,Consumo.Gobierno,Exportaciones,...,PBI_a_precios_de_mercado.oferta,Vol_PIB_perCap,Vol_Consumo_Hogares_Per_Cap,Vol_FBKF_perCap,PIB_perCap__variPorc,Vol_Cons_Hogares_per_Cap__vari_Porc,Vol_FBKF_perCap__variPorc,Vol_PIB_encaden_Fisher_2004,IPI_volumen,IPI__variPorc
0,1,1950,20353627362,6.685869e+08,5.844002e+08,3119383475,8.631124e+08,1.046560e+11,21706316451,1.072959e+10,...,1.420980e+11,8230.718755,6061.927168,1265.389774,NaN,NaN,NaN,1.420980e+11,0.292917,NaN
1,2,1951,21739314091,8.427402e+08,2.532758e+09,3562534310,1.292775e+09,1.105380e+11,21767097618,8.455494e+09,...,1.474360e+11,8360.967138,6268.494407,1442.153759,0.015825,0.034076,0.139691,1.474360e+11,0.303920,0.037563
2,3,1952,19685428171,1.119084e+09,1.484422e+09,3440750327,1.088416e+09,1.051080e+11,21455589059,6.224082e+09,...,1.404910e+11,7806.866125,5840.680245,1293.154332,-0.066272,-0.068248,-0.103317,1.404910e+11,0.289604,-0.047104
3,4,1953,20237375978,1.207891e+09,1.459989e+09,3621895632,8.869267e+08,1.064030e+11,20742065172,9.619869e+09,...,1.473240e+11,8027.665603,5797.868309,1290.488829,0.028283,-0.007330,-0.002061,1.473240e+11,0.303689,0.048637
4,5,1954,19372130307,1.173452e+09,8.059002e+08,4121320340,7.830799e+08,1.143920e+11,21238933697,1.020162e+10,...,1.533160e+11,8196.878491,6115.886428,1230.475866,0.021079,0.054851,-0.046504,1.533160e+11,0.316039,0.040667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,62,2011,66813943052,1.189902e+10,7.661349e+09,23759578339,4.132673e+10,5.014680e+11,80184420870,1.598420e+11,...,7.118760e+11,17252.803350,12153.418950,3506.313415,0.048057,0.072793,0.138625,7.118760e+11,1.467438,0.060211
62,63,2012,64700327691,1.193748e+10,5.518154e+09,21650676546,3.568329e+10,4.998770e+11,82549920556,1.531870e+11,...,7.064210e+11,16927.042940,11977.906860,3255.742019,-0.018882,-0.014441,-0.071463,7.064210e+11,1.456192,-0.007664
63,64,2013,64634666531,1.378317e+10,7.239125e+09,24156151830,3.373643e+10,5.165960e+11,86152836238,1.464500e+11,...,7.220400e+11,17108.767060,12240.750480,3317.537236,0.010736,0.021944,0.018980,7.220400e+11,1.488389,0.022110
64,65,2014,63301703123,1.030574e+10,5.950583e+09,21378949359,3.253840e+10,4.967300e+11,89033326375,1.367560e+11,...,7.056120e+11,16536.677200,11641.346310,3071.164706,-0.033438,-0.048968,-0.074264,7.056120e+11,1.454524,-0.022753
65,66,2015,64462175043,1.143976e+10,5.599293e+09,24228907045,3.441289e+10,5.098710e+11,94456349868,1.355150e+11,...,7.225620e+11,16752.344150,11821.179420,3176.115695,0.013042,0.015448,0.034173,7.225620e+11,1.489464,0.024021

In [41]:
df.isna().sum()

Unnamed: 0                              0
Anio                                    0
FBKF.Construcciones.Priv_Publ           0
FBKF.Equi_Dur_Prod.Mat_Transp.Nac       0
FBKF.Equi_Dur_Prod.Mat_Transp.Import    0
                                       ..
Vol_Cons_Hogares_per_Cap__vari_Porc     1
Vol_FBKF_perCap__variPorc               1
Vol_PIB_encaden_Fisher_2004             0
IPI_volumen                             0
IPI__variPorc                           1
Length: 85, dtype: int64

In [43]:
df.columns[df.isna().any()]

Index(['EXPO_OTAGRIC_2004', 'EXPO_PESCA_2004', 'EXPO_ALIMENT_2004',
       'EXPO_TEXTIL_2004', 'EXPO_CUEROIND_2004', 'EXPO_PAPEL_2004',
       'EXPO_CAUCHO_2004', 'EXPO_QUIMICO_2004', 'EXPO_COMBIUST_2004',
       'EXPO_HIERRO_2004', 'EXPO_METNOFERR_2004', 'EXPO_MAQUIN_2004',
       'EXPO_RESTOIND_2004', 'PIB_perCap__variPorc',
       'Vol_Cons_Hogares_per_Cap__vari_Porc', 'Vol_FBKF_perCap__variPorc',
       'IPI__variPorc'],
      dtype='object')

In [45]:
df.columns

Index(['Unnamed: 0', 'Anio', 'FBKF.Construcciones.Priv_Publ',
       'FBKF.Equi_Dur_Prod.Mat_Transp.Nac',
       'FBKF.Equi_Dur_Prod.Mat_Transp.Import',
       'FBKF.Equi_Dur_Prod.Maqui_YEqui.Nac',
       'FBKF.Equi_Dur_Prod.Maqui_YEqui.Import', 'Consumo.Hogares',
       'Consumo.Gobierno', 'Exportaciones', 'Importaciones', 'GIB', 'FKBF',
       'EXPO_TOT_2004', 'EXPO_AGROP_2004', 'EXPO_PAMP_2004',
       'EXPO_PECUAR_2004', 'EXPO_CARNES_2004', 'EXPO_LECHE_2004',
       'EXPO_LANAS_2004', 'EXPO_CUEROS_PP_2004', 'EXPO_AGRIC_2004',
       'EXPO_CEREAL_2004', 'EXPO_OLEAGI_2004', 'EXPO_OTAGRIC_2004',
       'EXPO_PESCA_2004', 'EXPO_INDUST_2004', 'EXPO_ALIMENT_2004',
       'EXPO_TEXTIL_2004', 'EXPO_CUEROIND_2004', 'EXPO_PAPEL_2004',
       'EXPO_CAUCHO_2004', 'EXPO_QUIMICO_2004', 'EXPO_COMBIUST_2004',
       'EXPO_HIERRO_2004', 'EXPO_METNOFERR_2004', 'EXPO_MAQUIN_2004',
       'EXPO_RESTOIND_2004', 'Consumo.Hogares.ipi.demanda',
       'Consumo.Gobierno.ipi.demanda',
       'FBKF.Construcciones.Priv_Publ.ipi.demanda',
       'FBKF.Equi_Dur_Prod.Mat_Transp.Nac.ipi.demanda',
       'FBKF.Equi_Dur_Prod.Mat_Transp.Import.ipi.demanda',
       'FBKF.Equi_Dur_Prod.Maqui_YEqui.Nac.ipi.demanda',
       'FBKF.Equi_Dur_Prod.Maqui_YEqui.Import.ipi.demanda',
       'Exportaciones.ipi.demanda', 'Importaciones.ipi.demanda',
       'GIB.ipi.demanda', 'FBKF.Construcciones.Priv_Publ.ipi.inversion',
       'FBKF.Equi_Dur_Prod.Mat_Transp.Nac.ipi.inversion',
       'FBKF.Equi_Dur_Prod.Mat_Transp.Import.ipi.inversion',
       'FBKF.Equi_Dur_Prod.Maqui_YEqui.Nac.ipi.inversion',
       'FBKF.Equi_Dur_Prod.Maqui_YEqui.Import.ipi.inversion',
       'FKBF.ipi.inversion', 'Agricultura_caza_silvicultura_y_pesca',
       'Explotacion_de_minas_y_canteras', 'Industria_manufacturera',
       'Electricidad_gas_y_agua', 'Construccion',
       'Comercio_hoteles_y_restaurantes', 'Transp_Almac_y_Comunics',
       'Inter_Fin_Seg_Activ_Inmo_Serv_Empr_etc',
       'Servs_Socs_Comunales_Y_Personales', 'Impuesto_Prod_Netos_De_Subsid',
       'PBI_a_precios_de_mercado',
       'Agricultura_caza_silvicultura_y_pesca.oferta',
       'Explotacion_de_minas_y_canteras.oferta',
       'Industria_manufacturera.oferta', 'Electricidad_gas_y_agua.oferta',
       'Construccion.oferta', 'Comercio_hoteles_y_restaurantes.oferta',
       'Transp_Almac_y_Comunics.oferta',
       'Inter_Fin_Seg_Activ_Inmo_Serv_Empr_etc.oferta',
       'Servs_Socs_Comunales_Y_Personales.oferta',
       'Impuesto_Prod_Netos_De_Subsid.oferta',
       'PBI_a_precios_de_mercado.oferta', 'Vol_PIB_perCap',
       'Vol_Consumo_Hogares_Per_Cap', 'Vol_FBKF_perCap',
       'PIB_perCap__variPorc', 'Vol_Cons_Hogares_per_Cap__vari_Porc',
       'Vol_FBKF_perCap__variPorc', 'Vol_PIB_encaden_Fisher_2004',
       'IPI_volumen', 'IPI__variPorc'],
      dtype='object')

In [47]:
filas_con_na = df[df.isna().any(axis=1)]
print(filas_con_na['Anio'].unique())  # o 'Year' segÃºn el nombre real

[1950 1951 1952 1953 1954 1955 1956 1957 1958 1959 1960 1961 1962 1963
 1964 1965]

In [49]:
df[df.isna().any(axis=1)]

,Unnamed: 0,Anio,FBKF.Construcciones.Priv_Publ,FBKF.Equi_Dur_Prod.Mat_Transp.Nac,FBKF.Equi_Dur_Prod.Mat_Transp.Import,FBKF.Equi_Dur_Prod.Maqui_YEqui.Nac,FBKF.Equi_Dur_Prod.Maqui_YEqui.Import,Consumo.Hogares,Consumo.Gobierno,Exportaciones,...,PBI_a_precios_de_mercado.oferta,Vol_PIB_perCap,Vol_Consumo_Hogares_Per_Cap,Vol_FBKF_perCap,PIB_perCap__variPorc,Vol_Cons_Hogares_per_Cap__vari_Porc,Vol_FBKF_perCap__variPorc,Vol_PIB_encaden_Fisher_2004,IPI_volumen,IPI__variPorc
0,1,1950,20353627362,6.685869e+08,5.844002e+08,3119383475,8.631124e+08,1.046560e+11,21706316451,1.072959e+10,...,1.420980e+11,8230.718755,6061.927168,1265.389774,NaN,NaN,NaN,1.420980e+11,0.292917,NaN
1,2,1951,21739314091,8.427402e+08,2.532758e+09,3562534310,1.292775e+09,1.105380e+11,21767097618,8.455494e+09,...,1.474360e+11,8360.967138,6268.494407,1442.153759,0.015825,0.034076,0.139691,1.474360e+11,0.303920,0.037563
2,3,1952,19685428171,1.119084e+09,1.484422e+09,3440750327,1.088416e+09,1.051080e+11,21455589059,6.224082e+09,...,1.404910e+11,7806.866125,5840.680245,1293.154332,-0.066272,-0.068248,-0.103317,1.404910e+11,0.289604,-0.047104
3,4,1953,20237375978,1.207891e+09,1.459989e+09,3621895632,8.869267e+08,1.064030e+11,20742065172,9.619869e+09,...,1.473240e+11,8027.665603,5797.868309,1290.488829,0.028283,-0.007330,-0.002061,1.473240e+11,0.303689,0.048637
4,5,1954,19372130307,1.173452e+09,8.059002e+08,4121320340,7.830799e+08,1.143920e+11,21238933697,1.020162e+10,...,1.533160e+11,8196.878491,6115.886428,1230.475866,0.021079,0.054851,-0.046504,1.533160e+11,0.316039,0.040667
5,6,1955,19934884939,1.511471e+09,8.727679e+08,5242797875,1.182263e+09,1.239340e+11,22773188849,9.102924e+09,...,1.639020e+11,8602.104571,6504.466855,1343.590034,0.049437,0.063536,0.091927,1.639020e+11,0.337862,0.069050
6,7,1956,20298654544,1.457046e+09,1.640863e+09,6334293972,1.129546e+09,1.219640e+11,24559294215,1.046472e+10,...,1.686100e+11,8691.383479,6286.895502,1404.165768,0.010379,-0.033450,0.045085,1.686100e+11,0.347567,0.028725
7,8,1957,22249994812,1.831510e+09,2.890109e+09,7165113665,7.725265e+08,1.290590e+11,23461466820,1.101636e+10,...,1.773730e+11,8985.013085,6537.611952,1538.777389,0.033784,0.039879,0.095866,1.773730e+11,0.365630,0.051970
8,9,1958,25655101237,1.943225e+09,9.605789e+08,7963324675,1.135540e+09,1.373860e+11,23448678721,1.136617e+10,...,1.881270e+11,9369.254099,6842.206711,1632.705611,0.042765,0.046591,0.061041,1.881270e+11,0.387799,0.060631
9,10,1959,19600367624,2.057575e+09,6.957860e+08,7209835726,6.430271e+08,1.292820e+11,24416625513,1.193062e+10,...,1.760890e+11,8625.042204,6332.384041,1267.630697,-0.079431,-0.074511,-0.223601,1.760890e+11,0.362984,-0.063988
10,11,1960,23590349980,5.146435e+09,1.373031e+09,8459576706,1.889509e+09,1.311220e+11,27644297363,1.195015e+10,...,1.900210e+11,9156.258133,6318.197556,1900.310927,0.061590,-0.002240,0.499105,1.900210e+11,0.391703,0.079118
11,12,1961,24664951203,6.597934e+09,1.201390e+09,9554421631,2.725139e+09,1.431110e+11,27912560348,1.104493e+10,...,2.035590e+11,9651.954497,6785.742039,2171.399719,0.054137,0.074000,0.142655,2.035590e+11,0.419610,0.071245
12,13,1962,22317304728,5.728537e+09,2.277024e+09,8037864945,2.537412e+09,1.378450e+11,27517345319,1.501120e+10,...,2.003790e+11,9352.442519,6433.744132,1948.510344,-0.031031,-0.051873,-0.102648,2.003790e+11,0.413055,-0.015621
13,14,1963,20905934123,4.454743e+09,1.546496e+09,7557503501,1.828187e+09,1.349780e+11,25718261865,1.533548e+10,...,1.959100e+11,9003.138805,6203.002769,1645.627216,-0.037349,-0.035864,-0.155443,1.959100e+11,0.403842,-0.022305
14,15,1964,22342653204,6.356063e+09,5.372635e+08,9555074946,1.597988e+09,1.547770e+11,25328640371,1.428388e+10,...,2.156180e+11,9758.552227,7004.985885,1800.562751,0.083906,0.129289,0.094150,2.156180e+11,0.444467,0.100595
15,16,1965,23138012760,7.331923e+09,4.975316e+08,10589205964,1.303719e+09,1.697220e+11,25804114463,1.570126e+10,...,2.348810e+11,10471.121480,7566.320384,1861.959367,0.073020,0.080134,0.034099,2.348810e+11,0.484176,0.089341

In [51]:
df.fillna(0)

,Unnamed: 0,Anio,FBKF.Construcciones.Priv_Publ,FBKF.Equi_Dur_Prod.Mat_Transp.Nac,FBKF.Equi_Dur_Prod.Mat_Transp.Import,FBKF.Equi_Dur_Prod.Maqui_YEqui.Nac,FBKF.Equi_Dur_Prod.Maqui_YEqui.Import,Consumo.Hogares,Consumo.Gobierno,Exportaciones,...,PBI_a_precios_de_mercado.oferta,Vol_PIB_perCap,Vol_Consumo_Hogares_Per_Cap,Vol_FBKF_perCap,PIB_perCap__variPorc,Vol_Cons_Hogares_per_Cap__vari_Porc,Vol_FBKF_perCap__variPorc,Vol_PIB_encaden_Fisher_2004,IPI_volumen,IPI__variPorc
0,1,1950,20353627362,6.685869e+08,5.844002e+08,3119383475,8.631124e+08,1.046560e+11,21706316451,1.072959e+10,...,1.420980e+11,8230.718755,6061.927168,1265.389774,0.000000,0.000000,0.000000,1.420980e+11,0.292917,0.000000
1,2,1951,21739314091,8.427402e+08,2.532758e+09,3562534310,1.292775e+09,1.105380e+11,21767097618,8.455494e+09,...,1.474360e+11,8360.967138,6268.494407,1442.153759,0.015825,0.034076,0.139691,1.474360e+11,0.303920,0.037563
2,3,1952,19685428171,1.119084e+09,1.484422e+09,3440750327,1.088416e+09,1.051080e+11,21455589059,6.224082e+09,...,1.404910e+11,7806.866125,5840.680245,1293.154332,-0.066272,-0.068248,-0.103317,1.404910e+11,0.289604,-0.047104
3,4,1953,20237375978,1.207891e+09,1.459989e+09,3621895632,8.869267e+08,1.064030e+11,20742065172,9.619869e+09,...,1.473240e+11,8027.665603,5797.868309,1290.488829,0.028283,-0.007330,-0.002061,1.473240e+11,0.303689,0.048637
4,5,1954,19372130307,1.173452e+09,8.059002e+08,4121320340,7.830799e+08,1.143920e+11,21238933697,1.020162e+10,...,1.533160e+11,8196.878491,6115.886428,1230.475866,0.021079,0.054851,-0.046504,1.533160e+11,0.316039,0.040667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,62,2011,66813943052,1.189902e+10,7.661349e+09,23759578339,4.132673e+10,5.014680e+11,80184420870,1.598420e+11,...,7.118760e+11,17252.803350,12153.418950,3506.313415,0.048057,0.072793,0.138625,7.118760e+11,1.467438,0.060211
62,63,2012,64700327691,1.193748e+10,5.518154e+09,21650676546,3.568329e+10,4.998770e+11,82549920556,1.531870e+11,...,7.064210e+11,16927.042940,11977.906860,3255.742019,-0.018882,-0.014441,-0.071463,7.064210e+11,1.456192,-0.007664
63,64,2013,64634666531,1.378317e+10,7.239125e+09,24156151830,3.373643e+10,5.165960e+11,86152836238,1.464500e+11,...,7.220400e+11,17108.767060,12240.750480,3317.537236,0.010736,0.021944,0.018980,7.220400e+11,1.488389,0.022110
64,65,2014,63301703123,1.030574e+10,5.950583e+09,21378949359,3.253840e+10,4.967300e+11,89033326375,1.367560e+11,...,7.056120e+11,16536.677200,11641.346310,3071.164706,-0.033438,-0.048968,-0.074264,7.056120e+11,1.454524,-0.022753
65,66,2015,64462175043,1.143976e+10,5.599293e+09,24228907045,3.441289e+10,5.098710e+11,94456349868,1.355150e+11,...,7.225620e+11,16752.344150,11821.179420,3176.115695,0.013042,0.015448,0.034173,7.225620e+11,1.489464,0.024021

In [53]:
# Ejercicio 7
penguins_sin_na = penguins.dropna()
penguins_sin_na

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,Male
...,...,...,...,...,...,...,...
338,Gentoo,Biscoe,47.2,13.7,214.0,4925.0,Female
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

In [55]:
penguins_sin_na = penguins_sin_na.reset_index(drop=True)
penguins_sin_na

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
4,Adelie,Torgersen,39.3,20.6,190.0,3650.0,Male
...,...,...,...,...,...,...,...
328,Gentoo,Biscoe,47.2,13.7,214.0,4925.0,Female
329,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
330,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
331,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
332,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

In [57]:
penguins.dropna().reset_index(drop=True)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
4,Adelie,Torgersen,39.3,20.6,190.0,3650.0,Male
...,...,...,...,...,...,...,...
328,Gentoo,Biscoe,47.2,13.7,214.0,4925.0,Female
329,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
330,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
331,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
332,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

In [59]:
# Ejercicio 8
# a)
[saludo + "!" for saludo in ["hola", "chau"]]

['hola!', 'chau!']

In [61]:
# b)
[col.upper() for col in penguins.columns]

['SPECIES',
 'ISLAND',
 'BILL_LENGTH_MM',
 'BILL_DEPTH_MM',
 'FLIPPER_LENGTH_MM',
 'BODY_MASS_G',
 'SEX']

In [63]:
[x * 10 if x % 2 == 0 else x for x in [1,2,3,4,5,6]]

[1, 20, 3, 40, 5, 60]

In [67]:
# Ejercicio 9
[col.upper() if col.startswith('bill') else col for col in penguins.columns]

['species',
 'island',
 'BILL_LENGTH_MM',
 'BILL_DEPTH_MM',
 'flipper_length_mm',
 'body_mass_g',
 'sex']

In [69]:
# Ejercicio 10
penguins['peso_bin'] = penguins['body_mass_g'].apply(lambda x: 'chico' if x < 4000 else 'grande')

In [71]:
penguins

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,peso_bin
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male,chico
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female,chico
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female,chico
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,grande
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female,chico
...,...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN,grande
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female,grande
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male,grande
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female,grande
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male,grande

In [83]:
# Ejercicio 11
# Filtrar filas
penguins_filtrado = penguins[(penguins['sex'] == 'Male') & (penguins['flipper_length_mm'] > 200)]

# Seleccionar columnas que terminan en '_mm'
columnas_mm = [col for col in penguins.columns if col.endswith('_mm')]

# Resultado final
resultado = penguins_filtrado[columnas_mm]
resultado

     bill_length_mm  bill_depth_mm  flipper_length_mm
91             41.1           18.1              205.0
95             40.8           18.9              208.0
101            41.0           20.0              203.0
123            41.4           18.5              202.0
129            44.1           18.0              210.0
..              ...            ...                ...
333            51.5           16.3              230.0
335            55.1           16.0              230.0
337            48.8           16.2              222.0
341            50.4           15.7              222.0
343            49.9           16.1              213.0

[84 rows x 3 columns]

In [95]:
# Ejercicio 12
pinguinos_solo_de_Dream = penguins[penguins["island"] == "Dream"]
pinguinos_solo_de_Dream

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,peso_bin
30,Adelie,Dream,39.5,16.7,178.0,3250.0,Female,chico
31,Adelie,Dream,37.2,18.1,178.0,3900.0,Male,chico
32,Adelie,Dream,39.5,17.8,188.0,3300.0,Female,chico
33,Adelie,Dream,40.9,18.9,184.0,3900.0,Male,chico
34,Adelie,Dream,36.4,17.0,195.0,3325.0,Female,chico
...,...,...,...,...,...,...,...,...
215,Chinstrap,Dream,55.8,19.8,207.0,4000.0,Male,grande
216,Chinstrap,Dream,43.5,18.1,202.0,3400.0,Female,chico
217,Chinstrap,Dream,49.6,18.2,193.0,3775.0,Male,chico
218,Chinstrap,Dream,50.8,19.0,210.0,4100.0,Male,grande
219,Chinstrap,Dream,50.2,18.7,198.0,3775.0,Female,chico

In [103]:
[col for col in penguins.columns if col == "species" or col.startswith("bill")]

['species', 'bill_length_mm', 'bill_depth_mm']

In [113]:
pinguinos_solo_de_Dream[[col for col in penguins.columns if col == "species" or col.startswith("bill")]]

       species  bill_length_mm  bill_depth_mm
30      Adelie            39.5           16.7
31      Adelie            37.2           18.1
32      Adelie            39.5           17.8
33      Adelie            40.9           18.9
34      Adelie            36.4           17.0
..         ...             ...            ...
215  Chinstrap            55.8           19.8
216  Chinstrap            43.5           18.1
217  Chinstrap            49.6           18.2
218  Chinstrap            50.8           19.0
219  Chinstrap            50.2           18.7

[124 rows x 3 columns]

In [115]:
# Ejercicio 13
penguins["boddy_mass_kg"] = penguins["body_mass_g"] / 100

In [117]:
penguins["island"] = penguins["island"].str.lower()

In [121]:
# Ejercicio 14
medianas = penguins.groupby('species')['body_mass_g'].agg('median')
medianas

species
Adelie       3700.0
Chinstrap    3700.0
Gentoo       5000.0
Name: body_mass_g, dtype: float64

In [125]:
penguins['mediana_body_mass_g'] = penguins['species'].map(medianas)
penguins

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,peso_bin,boddy_mass_kg,mediana_body_mass_g
0,Adelie,torgersen,39.1,18.7,181.0,3750.0,Male,chico,37.5,3700.0
1,Adelie,torgersen,39.5,17.4,186.0,3800.0,Female,chico,38.0,3700.0
2,Adelie,torgersen,40.3,18.0,195.0,3250.0,Female,chico,32.5,3700.0
3,Adelie,torgersen,NaN,NaN,NaN,NaN,NaN,grande,NaN,3700.0
4,Adelie,torgersen,36.7,19.3,193.0,3450.0,Female,chico,34.5,3700.0
...,...,...,...,...,...,...,...,...,...,...
339,Gentoo,biscoe,NaN,NaN,NaN,NaN,NaN,grande,NaN,5000.0
340,Gentoo,biscoe,46.8,14.3,215.0,4850.0,Female,grande,48.5,5000.0
341,Gentoo,biscoe,50.4,15.7,222.0,5750.0,Male,grande,57.5,5000.0
342,Gentoo,biscoe,45.2,14.8,212.0,5200.0,Female,grande,52.0,5000.0
343,Gentoo,biscoe,49.9,16.1,213.0,5400.0,Male,grande,54.0,5000.0

In [139]:
# Ejercicio 15
penguins_filtrado = penguins[penguins['island'] != 'Biscoe']

In [141]:
penguins_filtrado = penguins_filtrado.loc[:, "species":"body_mass_g"]
penguins_filtrado

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g
0,Adelie,torgersen,39.1,18.7,181.0,3750.0
1,Adelie,torgersen,39.5,17.4,186.0,3800.0
2,Adelie,torgersen,40.3,18.0,195.0,3250.0
3,Adelie,torgersen,NaN,NaN,NaN,NaN
4,Adelie,torgersen,36.7,19.3,193.0,3450.0
...,...,...,...,...,...,...
339,Gentoo,biscoe,NaN,NaN,NaN,NaN
340,Gentoo,biscoe,46.8,14.3,215.0,4850.0
341,Gentoo,biscoe,50.4,15.7,222.0,5750.0
342,Gentoo,biscoe,45.2,14.8,212.0,5200.0
343,Gentoo,biscoe,49.9,16.1,213.0,5400.0

In [143]:
penguins_filtrado = penguins_filtrado.rename(columns = {"species":"especie_pinguino"})
penguins_filtrado

,especie_pinguino,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g
0,Adelie,torgersen,39.1,18.7,181.0,3750.0
1,Adelie,torgersen,39.5,17.4,186.0,3800.0
2,Adelie,torgersen,40.3,18.0,195.0,3250.0
3,Adelie,torgersen,NaN,NaN,NaN,NaN
4,Adelie,torgersen,36.7,19.3,193.0,3450.0
...,...,...,...,...,...,...
339,Gentoo,biscoe,NaN,NaN,NaN,NaN
340,Gentoo,biscoe,46.8,14.3,215.0,4850.0
341,Gentoo,biscoe,50.4,15.7,222.0,5750.0
342,Gentoo,biscoe,45.2,14.8,212.0,5200.0
343,Gentoo,biscoe,49.9,16.1,213.0,5400.0

In [145]:
penguins_agrupados = penguins_filtrado.groupby("especie_pinguino")
penguins_agrupados

In [149]:
columnas_length = [col for col in penguins_filtrado.columns if "length" in col]
columnas_length

['bill_length_mm', 'flipper_length_mm']

In [159]:
resultado = penguins_agrupados[columnas_length].agg("mean")
resultado

                  bill_length_mm  flipper_length_mm
especie_pinguino
Adelie                 38.791391         189.953642
Chinstrap              48.833824         195.823529
Gentoo                 47.504878         217.186992

In [161]:
resultado = resultado.rename(columns = {col : col + "_mean" for col in columnas_length})
resultado

                  bill_length_mm_mean  flipper_length_mm_mean
especie_pinguino
Adelie                      38.791391              189.953642
Chinstrap                   48.833824              195.823529
Gentoo                      47.504878              217.186992

In [200]:
# Ejercicio 16
macroFull = pd.read_csv(r"C:\Users\Usuario\Downloads\macro_full_columns.csv", index_col = "Anio")
macroFull

,Unnamed: 0,FBKF.Construcciones.Priv_Publ,FBKF.Equi_Dur_Prod.Mat_Transp.Nac,FBKF.Equi_Dur_Prod.Mat_Transp.Import,FBKF.Equi_Dur_Prod.Maqui_YEqui.Nac,FBKF.Equi_Dur_Prod.Maqui_YEqui.Import,Consumo.Hogares,Consumo.Gobierno,Exportaciones,Importaciones,...,PBI_a_precios_de_mercado.oferta,Vol_PIB_perCap,Vol_Consumo_Hogares_Per_Cap,Vol_FBKF_perCap,PIB_perCap__variPorc,Vol_Cons_Hogares_per_Cap__vari_Porc,Vol_FBKF_perCap__variPorc,Vol_PIB_encaden_Fisher_2004,IPI_volumen,IPI__variPorc
Anio,,,,,,,,,,,,,,,,,,,,,
1950,1,20353627362,6.685869e+08,5.844002e+08,3119383475,8.631124e+08,1.046560e+11,21706316451,1.072959e+10,1.403947e+10,...,1.420980e+11,8230.718755,6061.927168,1265.389774,NaN,NaN,NaN,1.420980e+11,0.292917,NaN
1951,2,21739314091,8.427402e+08,2.532758e+09,3562534310,1.292775e+09,1.105380e+11,21767097618,8.455494e+09,1.574444e+10,...,1.474360e+11,8360.967138,6268.494407,1442.153759,0.015825,0.034076,0.139691,1.474360e+11,0.303920,0.037563
1952,3,19685428171,1.119084e+09,1.484422e+09,3440750327,1.088416e+09,1.051080e+11,21455589059,6.224082e+09,1.163759e+10,...,1.404910e+11,7806.866125,5840.680245,1293.154332,-0.066272,-0.068248,-0.103317,1.404910e+11,0.289604,-0.047104
1953,4,20237375978,1.207891e+09,1.459989e+09,3621895632,8.869267e+08,1.064030e+11,20742065172,9.619869e+09,9.626751e+09,...,1.473240e+11,8027.665603,5797.868309,1290.488829,0.028283,-0.007330,-0.002061,1.473240e+11,0.303689,0.048637
1954,5,19372130307,1.173452e+09,8.059002e+08,4121320340,7.830799e+08,1.143920e+11,21238933697,1.020162e+10,1.250629e+10,...,1.533160e+11,8196.878491,6115.886428,1230.475866,0.021079,0.054851,-0.046504,1.533160e+11,0.316039,0.040667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2011,62,66813943052,1.189902e+10,7.661349e+09,23759578339,4.132673e+10,5.014680e+11,80184420870,1.598420e+11,1.901440e+11,...,7.118760e+11,17252.803350,12153.418950,3506.313415,0.048057,0.072793,0.138625,7.118760e+11,1.467438,0.060211
2012,63,64700327691,1.193748e+10,5.518154e+09,21650676546,3.568329e+10,4.998770e+11,82549920556,1.531870e+11,1.810490e+11,...,7.064210e+11,16927.042940,11977.906860,3255.742019,-0.018882,-0.014441,-0.071463,7.064210e+11,1.456192,-0.007664
2013,64,64634666531,1.378317e+10,7.239125e+09,24156151830,3.373643e+10,5.165960e+11,86152836238,1.464500e+11,1.863680e+11,...,7.220400e+11,17108.767060,12240.750480,3317.537236,0.010736,0.021944,0.018980,7.220400e+11,1.488389,0.022110
2014,65,63301703123,1.030574e+10,5.950583e+09,21378949359,3.253840e+10,4.967300e+11,89033326375,1.367560e+11,1.656120e+11,...,7.056120e+11,16536.677200,11641.346310,3071.164706,-0.033438,-0.048968,-0.074264,7.056120e+11,1.454524,-0.022753
2015,66,64462175043,1.143976e+10,5.599293e+09,24228907045,3.441289e+10,5.098710e+11,94456349868,1.355150e+11,1.739840e+11,...,7.225620e+11,16752.344150,11821.179420,3176.115695,0.013042,0.015448,0.034173,7.225620e+11,1.489464,0.024021

In [202]:
macroFull.columns

Index(['Unnamed: 0', 'FBKF.Construcciones.Priv_Publ',
       'FBKF.Equi_Dur_Prod.Mat_Transp.Nac',
       'FBKF.Equi_Dur_Prod.Mat_Transp.Import',
       'FBKF.Equi_Dur_Prod.Maqui_YEqui.Nac',
       'FBKF.Equi_Dur_Prod.Maqui_YEqui.Import', 'Consumo.Hogares',
       'Consumo.Gobierno', 'Exportaciones', 'Importaciones', 'GIB', 'FKBF',
       'EXPO_TOT_2004', 'EXPO_AGROP_2004', 'EXPO_PAMP_2004',
       'EXPO_PECUAR_2004', 'EXPO_CARNES_2004', 'EXPO_LECHE_2004',
       'EXPO_LANAS_2004', 'EXPO_CUEROS_PP_2004', 'EXPO_AGRIC_2004',
       'EXPO_CEREAL_2004', 'EXPO_OLEAGI_2004', 'EXPO_OTAGRIC_2004',
       'EXPO_PESCA_2004', 'EXPO_INDUST_2004', 'EXPO_ALIMENT_2004',
       'EXPO_TEXTIL_2004', 'EXPO_CUEROIND_2004', 'EXPO_PAPEL_2004',
       'EXPO_CAUCHO_2004', 'EXPO_QUIMICO_2004', 'EXPO_COMBIUST_2004',
       'EXPO_HIERRO_2004', 'EXPO_METNOFERR_2004', 'EXPO_MAQUIN_2004',
       'EXPO_RESTOIND_2004', 'Consumo.Hogares.ipi.demanda',
       'Consumo.Gobierno.ipi.demanda',
       'FBKF.Construcciones.Priv_Publ.ipi.demanda',
       'FBKF.Equi_Dur_Prod.Mat_Transp.Nac.ipi.demanda',
       'FBKF.Equi_Dur_Prod.Mat_Transp.Import.ipi.demanda',
       'FBKF.Equi_Dur_Prod.Maqui_YEqui.Nac.ipi.demanda',
       'FBKF.Equi_Dur_Prod.Maqui_YEqui.Import.ipi.demanda',
       'Exportaciones.ipi.demanda', 'Importaciones.ipi.demanda',
       'GIB.ipi.demanda', 'FBKF.Construcciones.Priv_Publ.ipi.inversion',
       'FBKF.Equi_Dur_Prod.Mat_Transp.Nac.ipi.inversion',
       'FBKF.Equi_Dur_Prod.Mat_Transp.Import.ipi.inversion',
       'FBKF.Equi_Dur_Prod.Maqui_YEqui.Nac.ipi.inversion',
       'FBKF.Equi_Dur_Prod.Maqui_YEqui.Import.ipi.inversion',
       'FKBF.ipi.inversion', 'Agricultura_caza_silvicultura_y_pesca',
       'Explotacion_de_minas_y_canteras', 'Industria_manufacturera',
       'Electricidad_gas_y_agua', 'Construccion',
       'Comercio_hoteles_y_restaurantes', 'Transp_Almac_y_Comunics',
       'Inter_Fin_Seg_Activ_Inmo_Serv_Empr_etc',
       'Servs_Socs_Comunales_Y_Personales', 'Impuesto_Prod_Netos_De_Subsid',
       'PBI_a_precios_de_mercado',
       'Agricultura_caza_silvicultura_y_pesca.oferta',
       'Explotacion_de_minas_y_canteras.oferta',
       'Industria_manufacturera.oferta', 'Electricidad_gas_y_agua.oferta',
       'Construccion.oferta', 'Comercio_hoteles_y_restaurantes.oferta',
       'Transp_Almac_y_Comunics.oferta',
       'Inter_Fin_Seg_Activ_Inmo_Serv_Empr_etc.oferta',
       'Servs_Socs_Comunales_Y_Personales.oferta',
       'Impuesto_Prod_Netos_De_Subsid.oferta',
       'PBI_a_precios_de_mercado.oferta', 'Vol_PIB_perCap',
       'Vol_Consumo_Hogares_Per_Cap', 'Vol_FBKF_perCap',
       'PIB_perCap__variPorc', 'Vol_Cons_Hogares_per_Cap__vari_Porc',
       'Vol_FBKF_perCap__variPorc', 'Vol_PIB_encaden_Fisher_2004',
       'IPI_volumen', 'IPI__variPorc'],
      dtype='object')

In [210]:
macroFull = macroFull.drop(columns = ["Unnamed: 0"])
macroFull

,FBKF.Construcciones.Priv_Publ,FBKF.Equi_Dur_Prod.Mat_Transp.Nac,FBKF.Equi_Dur_Prod.Mat_Transp.Import,FBKF.Equi_Dur_Prod.Maqui_YEqui.Nac,FBKF.Equi_Dur_Prod.Maqui_YEqui.Import,Consumo.Hogares,Consumo.Gobierno,Exportaciones,Importaciones,GIB,...,PBI_a_precios_de_mercado.oferta,Vol_PIB_perCap,Vol_Consumo_Hogares_Per_Cap,Vol_FBKF_perCap,PIB_perCap__variPorc,Vol_Cons_Hogares_per_Cap__variPorc,Vol_FBKF_perCap__variPorc,Vol_PIB_encaden_Fisher_2004,IPI_volumen,IPI__variPorc
Anio,,,,,,,,,,,,,,,,,,,,,
1950,20353627362,6.685869e+08,5.844002e+08,3119383475,8.631124e+08,1.046560e+11,21706316451,1.072959e+10,1.403947e+10,1.420980e+11,...,1.420980e+11,8230.718755,6061.927168,1265.389774,NaN,NaN,NaN,1.420980e+11,0.292917,NaN
1951,21739314091,8.427402e+08,2.532758e+09,3562534310,1.292775e+09,1.105380e+11,21767097618,8.455494e+09,1.574444e+10,1.474360e+11,...,1.474360e+11,8360.967138,6268.494407,1442.153759,0.015825,0.034076,0.139691,1.474360e+11,0.303920,0.037563
1952,19685428171,1.119084e+09,1.484422e+09,3440750327,1.088416e+09,1.051080e+11,21455589059,6.224082e+09,1.163759e+10,1.404910e+11,...,1.404910e+11,7806.866125,5840.680245,1293.154332,-0.066272,-0.068248,-0.103317,1.404910e+11,0.289604,-0.047104
1953,20237375978,1.207891e+09,1.459989e+09,3621895632,8.869267e+08,1.064030e+11,20742065172,9.619869e+09,9.626751e+09,1.473240e+11,...,1.473240e+11,8027.665603,5797.868309,1290.488829,0.028283,-0.007330,-0.002061,1.473240e+11,0.303689,0.048637
1954,19372130307,1.173452e+09,8.059002e+08,4121320340,7.830799e+08,1.143920e+11,21238933697,1.020162e+10,1.250629e+10,1.533160e+11,...,1.533160e+11,8196.878491,6115.886428,1230.475866,0.021079,0.054851,-0.046504,1.533160e+11,0.316039,0.040667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2011,66813943052,1.189902e+10,7.661349e+09,23759578339,4.132673e+10,5.014680e+11,80184420870,1.598420e+11,1.901440e+11,7.098460e+11,...,7.118760e+11,17252.803350,12153.418950,3506.313415,0.048057,0.072793,0.138625,7.118760e+11,1.467438,0.060211
2012,64700327691,1.193748e+10,5.518154e+09,21650676546,3.568329e+10,4.998770e+11,82549920556,1.531870e+11,1.810490e+11,7.045170e+11,...,7.064210e+11,16927.042940,11977.906860,3255.742019,-0.018882,-0.014441,-0.071463,7.064210e+11,1.456192,-0.007664
2013,64634666531,1.378317e+10,7.239125e+09,24156151830,3.373643e+10,5.165960e+11,86152836238,1.464500e+11,1.863680e+11,7.206500e+11,...,7.220400e+11,17108.767060,12240.750480,3317.537236,0.010736,0.021944,0.018980,7.220400e+11,1.488389,0.022110
2014,63301703123,1.030574e+10,5.950583e+09,21378949359,3.253840e+10,4.967300e+11,89033326375,1.367560e+11,1.656120e+11,7.033380e+11,...,7.056120e+11,16536.677200,11641.346310,3071.164706,-0.033438,-0.048968,-0.074264,7.056120e+11,1.454524,-0.022753
2015,64462175043,1.143976e+10,5.599293e+09,24228907045,3.441289e+10,5.098710e+11,94456349868,1.355150e+11,1.739840e+11,7.228460e+11,...,7.225620e+11,16752.344150,11821.179420,3176.115695,0.013042,0.015448,0.034173,7.225620e+11,1.489464,0.024021

In [214]:
[col.replace("vari_Porc", "variPorc") for col in macroFull.columns]

['FBKF.Construcciones.Priv_Publ',
 'FBKF.Equi_Dur_Prod.Mat_Transp.Nac',
 'FBKF.Equi_Dur_Prod.Mat_Transp.Import',
 'FBKF.Equi_Dur_Prod.Maqui_YEqui.Nac',
 'FBKF.Equi_Dur_Prod.Maqui_YEqui.Import',
 'Consumo.Hogares',
 'Consumo.Gobierno',
 'Exportaciones',
 'Importaciones',
 'GIB',
 'FKBF',
 'EXPO_TOT_2004',
 'EXPO_AGROP_2004',
 'EXPO_PAMP_2004',
 'EXPO_PECUAR_2004',
 'EXPO_CARNES_2004',
 'EXPO_LECHE_2004',
 'EXPO_LANAS_2004',
 'EXPO_CUEROS_PP_2004',
 'EXPO_AGRIC_2004',
 'EXPO_CEREAL_2004',
 'EXPO_OLEAGI_2004',
 'EXPO_OTAGRIC_2004',
 'EXPO_PESCA_2004',
 'EXPO_INDUST_2004',
 'EXPO_ALIMENT_2004',
 'EXPO_TEXTIL_2004',
 'EXPO_CUEROIND_2004',
 'EXPO_PAPEL_2004',
 'EXPO_CAUCHO_2004',
 'EXPO_QUIMICO_2004',
 'EXPO_COMBIUST_2004',
 'EXPO_HIERRO_2004',
 'EXPO_METNOFERR_2004',
 'EXPO_MAQUIN_2004',
 'EXPO_RESTOIND_2004',
 'Consumo.Hogares.ipi.demanda',
 'Consumo.Gobierno.ipi.demanda',
 'FBKF.Construcciones.Priv_Publ.ipi.demanda',
 'FBKF.Equi_Dur_Prod.Mat_Transp.Nac.ipi.demanda',
 'FBKF.Equi_Dur_Prod.Mat_Transp.Import.ipi.demanda',
 'FBKF.Equi_Dur_Prod.Maqui_YEqui.Nac.ipi.demanda',
 'FBKF.Equi_Dur_Prod.Maqui_YEqui.Import.ipi.demanda',
 'Exportaciones.ipi.demanda',
 'Importaciones.ipi.demanda',
 'GIB.ipi.demanda',
 'FBKF.Construcciones.Priv_Publ.ipi.inversion',
 'FBKF.Equi_Dur_Prod.Mat_Transp.Nac.ipi.inversion',
 'FBKF.Equi_Dur_Prod.Mat_Transp.Import.ipi.inversion',
 'FBKF.Equi_Dur_Prod.Maqui_YEqui.Nac.ipi.inversion',
 'FBKF.Equi_Dur_Prod.Maqui_YEqui.Import.ipi.inversion',
 'FKBF.ipi.inversion',
 'Agricultura_caza_silvicultura_y_pesca',
 'Explotacion_de_minas_y_canteras',
 'Industria_manufacturera',
 'Electricidad_gas_y_agua',
 'Construccion',
 'Comercio_hoteles_y_restaurantes',
 'Transp_Almac_y_Comunics',
 'Inter_Fin_Seg_Activ_Inmo_Serv_Empr_etc',
 'Servs_Socs_Comunales_Y_Personales',
 'Impuesto_Prod_Netos_De_Subsid',
 'PBI_a_precios_de_mercado',
 'Agricultura_caza_silvicultura_y_pesca.oferta',
 'Explotacion_de_minas_y_canteras.oferta',
 'Industria_manufacturera.oferta',
 'Electricidad_gas_y_agua.oferta',
 'Construccion.oferta',
 'Comercio_hoteles_y_restaurantes.oferta',
 'Transp_Almac_y_Comunics.oferta',
 'Inter_Fin_Seg_Activ_Inmo_Serv_Empr_etc.oferta',
 'Servs_Socs_Comunales_Y_Personales.oferta',
 'Impuesto_Prod_Netos_De_Subsid.oferta',
 'PBI_a_precios_de_mercado.oferta',
 'Vol_PIB_perCap',
 'Vol_Consumo_Hogares_Per_Cap',
 'Vol_FBKF_perCap',
 'PIB_perCap__variPorc',
 'Vol_Cons_Hogares_per_Cap__variPorc',
 'Vol_FBKF_perCap__variPorc',
 'Vol_PIB_encaden_Fisher_2004',
 'IPI_volumen',
 'IPI__variPorc']

In [216]:
[col.replace("_Per_Cap", "_perCap") for col in macroFull.columns]

['FBKF.Construcciones.Priv_Publ',
 'FBKF.Equi_Dur_Prod.Mat_Transp.Nac',
 'FBKF.Equi_Dur_Prod.Mat_Transp.Import',
 'FBKF.Equi_Dur_Prod.Maqui_YEqui.Nac',
 'FBKF.Equi_Dur_Prod.Maqui_YEqui.Import',
 'Consumo.Hogares',
 'Consumo.Gobierno',
 'Exportaciones',
 'Importaciones',
 'GIB',
 'FKBF',
 'EXPO_TOT_2004',
 'EXPO_AGROP_2004',
 'EXPO_PAMP_2004',
 'EXPO_PECUAR_2004',
 'EXPO_CARNES_2004',
 'EXPO_LECHE_2004',
 'EXPO_LANAS_2004',
 'EXPO_CUEROS_PP_2004',
 'EXPO_AGRIC_2004',
 'EXPO_CEREAL_2004',
 'EXPO_OLEAGI_2004',
 'EXPO_OTAGRIC_2004',
 'EXPO_PESCA_2004',
 'EXPO_INDUST_2004',
 'EXPO_ALIMENT_2004',
 'EXPO_TEXTIL_2004',
 'EXPO_CUEROIND_2004',
 'EXPO_PAPEL_2004',
 'EXPO_CAUCHO_2004',
 'EXPO_QUIMICO_2004',
 'EXPO_COMBIUST_2004',
 'EXPO_HIERRO_2004',
 'EXPO_METNOFERR_2004',
 'EXPO_MAQUIN_2004',
 'EXPO_RESTOIND_2004',
 'Consumo.Hogares.ipi.demanda',
 'Consumo.Gobierno.ipi.demanda',
 'FBKF.Construcciones.Priv_Publ.ipi.demanda',
 'FBKF.Equi_Dur_Prod.Mat_Transp.Nac.ipi.demanda',
 'FBKF.Equi_Dur_Prod.Mat_Transp.Import.ipi.demanda',
 'FBKF.Equi_Dur_Prod.Maqui_YEqui.Nac.ipi.demanda',
 'FBKF.Equi_Dur_Prod.Maqui_YEqui.Import.ipi.demanda',
 'Exportaciones.ipi.demanda',
 'Importaciones.ipi.demanda',
 'GIB.ipi.demanda',
 'FBKF.Construcciones.Priv_Publ.ipi.inversion',
 'FBKF.Equi_Dur_Prod.Mat_Transp.Nac.ipi.inversion',
 'FBKF.Equi_Dur_Prod.Mat_Transp.Import.ipi.inversion',
 'FBKF.Equi_Dur_Prod.Maqui_YEqui.Nac.ipi.inversion',
 'FBKF.Equi_Dur_Prod.Maqui_YEqui.Import.ipi.inversion',
 'FKBF.ipi.inversion',
 'Agricultura_caza_silvicultura_y_pesca',
 'Explotacion_de_minas_y_canteras',
 'Industria_manufacturera',
 'Electricidad_gas_y_agua',
 'Construccion',
 'Comercio_hoteles_y_restaurantes',
 'Transp_Almac_y_Comunics',
 'Inter_Fin_Seg_Activ_Inmo_Serv_Empr_etc',
 'Servs_Socs_Comunales_Y_Personales',
 'Impuesto_Prod_Netos_De_Subsid',
 'PBI_a_precios_de_mercado',
 'Agricultura_caza_silvicultura_y_pesca.oferta',
 'Explotacion_de_minas_y_canteras.oferta',
 'Industria_manufacturera.oferta',
 'Electricidad_gas_y_agua.oferta',
 'Construccion.oferta',
 'Comercio_hoteles_y_restaurantes.oferta',
 'Transp_Almac_y_Comunics.oferta',
 'Inter_Fin_Seg_Activ_Inmo_Serv_Empr_etc.oferta',
 'Servs_Socs_Comunales_Y_Personales.oferta',
 'Impuesto_Prod_Netos_De_Subsid.oferta',
 'PBI_a_precios_de_mercado.oferta',
 'Vol_PIB_perCap',
 'Vol_Consumo_Hogares_perCap',
 'Vol_FBKF_perCap',
 'PIB_perCap__variPorc',
 'Vol_Cons_Hogares_per_Cap__variPorc',
 'Vol_FBKF_perCap__variPorc',
 'Vol_PIB_encaden_Fisher_2004',
 'IPI_volumen',
 'IPI__variPorc']